<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="List_Folders.Content">
            <Directory Id="INSTALLFOLDER" Name="Exports" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="List_Folders.Content">
            <ComponentRef Id="cmp26FA47C133D3D68DDE1E2B3E44A6E883" />
            <ComponentRef Id="cmp55B446D13BE00AEBCA3F2ADCC88F762C" />
            <ComponentRef Id="cmpCA584AE51B39A222A7D238A846BEE33A" />
            <ComponentRef Id="cmp3DF94E3FEEDB60AF8F6E8A5C55C961FB" />
            <ComponentRef Id="cmpBA540CA663D552E40D399E64E39FDBB4" />
            <ComponentRef Id="cmp7B52A76A23D6F5DC90912A26D017AA0C" />
            <ComponentRef Id="cmp6C53C5E25B9C19EF5A1A79E7E052F2C0" />
            <ComponentRef Id="cmp611617DDEC96EBD1E5AC51A141C791C1" />
            <ComponentRef Id="cmp3F65839D7D2937F693CDB03CE9EF47AB" />
            <ComponentRef Id="cmp18192C2EAEB9E0813E7DC295DC892A82" />
            <ComponentRef Id="cmp94B8E7AB517CF11434838AB01573E94B" />
            <ComponentRef Id="cmpBF3377AE2A0931E6C4D74C7BA5AB556B" />
            <ComponentRef Id="cmp60FE7E8EF5435324A77E5171736CDF0B" />
            <ComponentRef Id="cmp9E9F5F642B3B176BEEA37905B1ABEF07" />
            <ComponentRef Id="cmp0BE8FE680F26DA5EE4656A04E926FFC7" />
            <ComponentRef Id="cmpA8CFA99A1FCD958C0EC9879E6498B923" />
            <ComponentRef Id="cmp34B2AE11F6CD0A1416586251F4A23F9D" />
            <ComponentRef Id="cmp93F0CBE9DDB335CA747429C99AEA5225" />
            <ComponentRef Id="cmp4A98948195E67765E5FCAAE8654AB90F" />
            <ComponentRef Id="cmpE3A2909C35BB6AAC3F8BD49F9AF3CE62" />
            <ComponentRef Id="cmp0B6BADCE14FAA956B5B5E39216A3C420" />
            <ComponentRef Id="cmp55D8C4C5EE447EF1D69038296CE5FD85" />
            <ComponentRef Id="cmpC51F03DF4188E9EF85FAAB293D09D2D9" />
            <ComponentRef Id="cmpF7306F3FBE255C7442168CBCE687054E" />
            <ComponentRef Id="cmp33C00C075F220BC4C098C6C739C9C0AF" />
            <ComponentRef Id="cmp4C40C196B4F3F4C52442444604355F82" />
            <ComponentRef Id="cmp88B2F0DEB1CCA119C86AF0DE5844D2BC" />
            <ComponentRef Id="cmp76E04E5AC7E9D616AAA5984B1E30BC8B" />
            <ComponentRef Id="cmp9AE46543A8D382F3CFE4EA10095D76D6" />
            <ComponentRef Id="cmpB00992210136115197F0FBA7D2E813F3" />
            <ComponentRef Id="cmp87C988D289236207D6249B09C029F3C8" />
            <ComponentRef Id="cmpC94BDAC468BB9AF33075FA92E636F1E1" />
            <ComponentRef Id="cmpCABDBAE4BE272A27CB76480F0C21D7F2" />
            <ComponentRef Id="cmpE0812D96B7E0A449D2082C566EF18653" />
            <ComponentRef Id="cmpB5C32CC245C6F14EABC376D855C10B77" />
            <ComponentRef Id="cmp3AC09E169477210A5B289658791F85E4" />
            <ComponentRef Id="cmp56037929A757C7F22A3F868FF2BFB48C" />
            <ComponentRef Id="cmp00532FEA0CF28392D220BDAD1E5B4972" />
            <ComponentRef Id="cmp61C9210D07373512D5FC0F46C362AC51" />
            <ComponentRef Id="cmpD8F1AD708770D131DF2CF1034A0DCBFC" />
            <ComponentRef Id="cmp4186F945D26DAAD807707E56EBC54A6E" />
            <ComponentRef Id="cmpB642A6F0AC8FA48E6D409260D14F7E11" />
            <ComponentRef Id="cmp9A17676046EE629A482D0BB4BF3DEE8E" />
            <ComponentRef Id="cmpB34CBBDD4B0104F9E7D2A77F558BB700" />
            <ComponentRef Id="cmpBEB252EA11D3728B10B14002C7D2CE21" />
            <ComponentRef Id="cmp799697939D35530EC0199E358FBE17F4" />
            <ComponentRef Id="cmpFE40E70A3FCABEDE6CC2B49E7447F479" />
            <ComponentRef Id="cmp016AEE9845EB6B2874F5497CB1ECB883" />
            <ComponentRef Id="cmp962DE3C8617F049720A6CD9E5123B73F" />
            <ComponentRef Id="cmp4BE7909848B0C202DE013CC4B18A7EA2" />
            <ComponentRef Id="cmp3BB56776731E4CCFE0469793C1CF0366" />
            <ComponentRef Id="cmp4D3D86B2361922CBD4B31D1ABADEE01B" />
            <ComponentRef Id="cmp72CCEE48D02C2E7797801CE92905D962" />
            <ComponentRef Id="cmp4236CF9C2E94707D2F2FB0AAAD93DC5C" />
            <ComponentRef Id="cmp503D78C4D1D34A55E172E4843DE33AFA" />
            <ComponentRef Id="cmp4809169066131B9A1A2545E9412B4C0E" />
            <ComponentRef Id="cmp809F4BC49775ED41EE5F0FB33530A470" />
            <ComponentRef Id="cmp31CFCD25901724F737499C048C2D5694" />
            <ComponentRef Id="cmpB3B6C20DED79851198096856F45A09C7" />
            <ComponentRef Id="cmp4A9E99675A85AA7E40A880EAD311C2E1" />
            <ComponentRef Id="cmpBC9F5C99359ED8FE41DA54464A6E0F47" />
            <ComponentRef Id="cmp0A57A30A06318BFE6E6512B9655664C3" />
            <ComponentRef Id="cmpB2D14D0D1E1DCFE905AC5D0618554D9B" />
            <ComponentRef Id="cmp9AB1B838F6E83F60CB499DA25653320E" />
            <ComponentRef Id="cmpD4E9A0083D8AE62AC37E2A833CEA7884" />
            <ComponentRef Id="cmpA5192134D4D0861407E0E84F789BD6D3" />
            <ComponentRef Id="cmpD4FD7C5304524506D2BB88C4F129CA41" />
            <ComponentRef Id="cmpADD0C8D085D721F7E7C4F9BAE6B1BCA2" />
            <ComponentRef Id="cmp53A5B05621E0801B8B3E556112D6E445" />
            <ComponentRef Id="cmp4B258E8D0669809868DAE13943B6211E" />
            <ComponentRef Id="cmp52DCA8E18928813EEC1B446238320D74" />
            <ComponentRef Id="cmp302FB2111202E6FF545FFAE79857609F" />
            <ComponentRef Id="cmpB7D3F7536CF482A36935C5ECB3FCCD83" />
            <ComponentRef Id="cmp81952CDF656B3A174E3D562B036720FA" />
            <ComponentRef Id="cmp8AE7F81ABF28A17C4EA0AA835CFCF1C6" />
            <ComponentRef Id="cmp82F30D018791C55BE02FE7150B6C65C4" />
            <ComponentRef Id="cmpA934FC43F99159D4BAA2CCB51CDFC2E1" />
            <ComponentRef Id="cmp7C028ACD6070E54E5D642164C86584E6" />
            <ComponentRef Id="cmp5632AE7F799764DB6F50FFA27AE122F8" />
            <ComponentRef Id="cmpDA4F9E29F5598EB6C32557C14830BC76" />
            <ComponentRef Id="cmpE9C48E7C754DEEB391B9C822533E7D82" />
            <ComponentRef Id="cmp838857D2FE5B6CE30809D4871CA58A81" />
            <ComponentRef Id="cmpC0BC9EFEBD20ECD3D94A5FE06811C3D1" />
            <ComponentRef Id="cmp155A5146F8264E3ED50335120C9379F9" />
            <ComponentRef Id="cmp6F2075E2C8E9B961A45D403325086FA9" />
            <ComponentRef Id="cmp795DD2AE781C07CBDCDBBBCB65FC6ED4" />
            <ComponentRef Id="cmpE04D628AAE228CCCF5EC5C5C2C196288" />
            <ComponentRef Id="cmpA9369AFA8C119674D21D8F1914FCC26B" />
            <ComponentRef Id="cmp86723700B8F186FD489E306D2B69897B" />
            <ComponentRef Id="cmp23F2EEB4DCE02C0E6F4A0FD22C7B9D2B" />
            <ComponentRef Id="cmp643AB40882791174E0BB55CA696B4E92" />
            <ComponentRef Id="cmp866E0A79CA915BF953C9C5E519C1847F" />
            <ComponentRef Id="cmp0BC317F2B509C89CFEBA909D10F81CBA" />
            <ComponentRef Id="cmp8485B9E851D28D1A68006605D00DF183" />
            <ComponentRef Id="cmp46E258121186103DCEE49A7739D157A4" />
            <ComponentRef Id="cmpE30C8DA312A683AAAE8641D03147A79F" />
            <ComponentRef Id="cmp2389C5B9EE93F32F339D7F920E732026" />
            <ComponentRef Id="cmp640AC401FCED2DEE55E5755582D12AFA" />
            <ComponentRef Id="cmp7C51C070D46DB6646DED622840E08BA7" />
            <ComponentRef Id="cmpAD2D5E53E3648F3F01EC06DFB42A70F1" />
            <ComponentRef Id="cmp75AB28DD543E1C9E1C98E8B588A99A43" />
            <ComponentRef Id="cmp43D2B219A8399EB68106B4AEC9008398" />
            <ComponentRef Id="cmp99F9AFCCC764D7BB00C27E3D27027F60" />
            <ComponentRef Id="cmpE7FBB45C3F6C055E0AA264A7E424488A" />
            <ComponentRef Id="cmp28D8965167764258A43652F07AFB67F0" />
            <ComponentRef Id="cmpD0F1165F5CC33F0F61CED9BB876EE7EF" />
            <ComponentRef Id="cmp9A009C806CDC169009C7C126C4248580" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp00532FEA0CF28392D220BDAD1E5B4972" Guid="*">
                <File Id="filB88DFE27FBA1713D16595B5C53F58044" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\psd.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp016AEE9845EB6B2874F5497CB1ECB883" Guid="*">
                <File Id="filF6C28D65737B937CA6F67603635D6613" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\zip.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp0A57A30A06318BFE6E6512B9655664C3" Guid="*">
                <File Id="fil7824A30477519E0BE6A8A29ACD248520" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\directory.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp0B6BADCE14FAA956B5B5E39216A3C420" Guid="*">
                <File Id="fil405638173C77B5DB204761A17CBC2553" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\exe2.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp0BC317F2B509C89CFEBA909D10F81CBA" Guid="*">
                <File Id="filD589837D8237C5C19E4D52762021D802" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\xls.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp0BE8FE680F26DA5EE4656A04E926FFC7" Guid="*">
                <File Id="fil5D4C7A37CC9F280E1F2ECDF266E981A7" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\djvu.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp155A5146F8264E3ED50335120C9379F9" Guid="*">
                <File Id="fil7EE7B683EB45A57B126757142179C200" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\pdf.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp18192C2EAEB9E0813E7DC295DC892A82" Guid="*">
                <File Id="filC90CF31C01A232E16C62E54B4DC9FE91" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\css.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp2389C5B9EE93F32F339D7F920E732026" Guid="*">
                <File Id="filEBA7486151C96173713C634E7B376DB0" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\zip.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp23F2EEB4DCE02C0E6F4A0FD22C7B9D2B" Guid="*">
                <File Id="fil00A1BB54D621D68A43CF5C81510E513C" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\script.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3F8C0E77CCB071611BDD732054A7D94A">
            <Component Id="cmp26FA47C133D3D68DDE1E2B3E44A6E883" Guid="*">
                <File Id="filA1867F78ADF78EF0D20A24D696EA7260" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\favicon.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmp28D8965167764258A43652F07AFB67F0" Guid="*">
                <File Id="filC42AB5039D4C1ECFC877905262161E35" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\favicon.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp302FB2111202E6FF545FFAE79857609F" Guid="*">
                <File Id="filE1BEAA75EF4751D0ED6292D2C0A75FDB" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\film.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp31CFCD25901724F737499C048C2D5694" Guid="*">
                <File Id="filDF9E50563E70AAB15AB101F315581052" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\css.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp33C00C075F220BC4C098C6C739C9C0AF" Guid="*">
                <File Id="fil7F2DC2D909CDD1F469F6D396D9680E03" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\html.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp34B2AE11F6CD0A1416586251F4A23F9D" Guid="*">
                <File Id="fil9BF3F3F650F895CC9C4FD63C232079EC" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\dll1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp3AC09E169477210A5B289658791F85E4" Guid="*">
                <File Id="filA14FF68AEF5A2A22E70100D286C3C276" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\php.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir296E23C09CBB890D83E660EE0A78CE29">
            <Component Id="cmp3BB56776731E4CCFE0469793C1CF0366" Guid="*">
                <File Id="fil4EBD0AE29811A7F81B6AF176A31A3F5C" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\js\jstree.js" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir349B1BA02F9C0CB78C7877398B7FC827">
            <Component Id="cmp3DF94E3FEEDB60AF8F6E8A5C55C961FB" Guid="*">
                <File Id="fil967D2637B3B6581F2B31E9B8AAC1063A" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\css\style.css" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp3F65839D7D2937F693CDB03CE9EF47AB" Guid="*">
                <File Id="fil063140DA744D8654466094378215A919" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\code.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp4186F945D26DAAD807707E56EBC54A6E" Guid="*">
                <File Id="filC84C4547BA253FBE34BB0456EE0C0846" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\script.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC6BBCD35B334807B24320C105E932C2B">
            <Component Id="cmp4236CF9C2E94707D2F2FB0AAAD93DC5C" Guid="*">
                <File Id="fil91BAC4B30F3EA9B9F616F1213108F8F7" Source="$(var.List Folders.ProjectDir)\Exports\icons\icon32.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmp43D2B219A8399EB68106B4AEC9008398" Guid="*">
                <File Id="filA3845E2354F493DC8FDAA13618EF3B36" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\dir.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp46E258121186103DCEE49A7739D157A4" Guid="*">
                <File Id="fil01101435EAF10A33D88FFA43A03BEBAC" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\xml1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp4809169066131B9A1A2545E9412B4C0E" Guid="*">
                <File Id="fil6617EC8192628ABFFDF1D1C8327F9942" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\chm.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp4A98948195E67765E5FCAAE8654AB90F" Guid="*">
                <File Id="filEDF12186F1C29F4EE88812CC3BEEF9AE" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\exe.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp4A9E99675A85AA7E40A880EAD311C2E1" Guid="*">
                <File Id="fil40F0151049F4477F0A4F4FFE081A7D71" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\dir-open.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp4B258E8D0669809868DAE13943B6211E" Guid="*">
                <File Id="fil873CAFBA49AA0395BA8598C6F110CD42" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\exe2.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir296E23C09CBB890D83E660EE0A78CE29">
            <Component Id="cmp4BE7909848B0C202DE013CC4B18A7EA2" Guid="*">
                <File Id="fil4024088CABF5D20353EAB39798F3CBB8" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\js\jquery.min.js" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp4C40C196B4F3F4C52442444604355F82" Guid="*">
                <File Id="fil15B6C3DE34328BB9147A2E30FD87F127" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\image.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC6BBCD35B334807B24320C105E932C2B">
            <Component Id="cmp4D3D86B2361922CBD4B31D1ABADEE01B" Guid="*">
                <File Id="filFCEB0DE12DFF6EA57F2D45B493DB48D3" Source="$(var.List Folders.ProjectDir)\Exports\icons\icon.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp503D78C4D1D34A55E172E4843DE33AFA" Guid="*">
                <File Id="fil34C54170DB974CFE265D1C381EF9F667" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\application.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp52DCA8E18928813EEC1B446238320D74" Guid="*">
                <File Id="fil24F8C7ACE562D89AA161FC0CCDE377FE" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\file.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp53A5B05621E0801B8B3E556112D6E445" Guid="*">
                <File Id="fil20D6EE118A8CA4BE4B44E588B3A90154" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\exe1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir349B1BA02F9C0CB78C7877398B7FC827">
            <Component Id="cmp55B446D13BE00AEBCA3F2ADCC88F762C" Guid="*">
                <File Id="fil6BBB6FDD5903B9EC66E7EFE2579E935B" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\css\32px.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp55D8C4C5EE447EF1D69038296CE5FD85" Guid="*">
                <File Id="filFC3DB88C256EF82CA3693CD026178F49" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\file.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp56037929A757C7F22A3F868FF2BFB48C" Guid="*">
                <File Id="filC68BA4C2F09BD59156FA48DFCC8FE61E" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\ppt.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp5632AE7F799764DB6F50FFA27AE122F8" Guid="*">
                <File Id="filB66BFC610CFAC0852ED0F15C300A3309" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\js1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp60FE7E8EF5435324A77E5171736CDF0B" Guid="*">
                <File Id="fil4261599B974CDE640332564C840AA13B" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\directory1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp611617DDEC96EBD1E5AC51A141C791C1" Guid="*">
                <File Id="fil7629E612EE69A8C3D22A4AC10E453CDF" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\chm.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp61C9210D07373512D5FC0F46C362AC51" Guid="*">
                <File Id="filE57E21CF850A9983EC87DD809FFC45DC" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\rar.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp640AC401FCED2DEE55E5755582D12AFA" Guid="*">
                <File Id="filFDE99EC39653F2570A188CDCD9943324" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\zip1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp643AB40882791174E0BB55CA696B4E92" Guid="*">
                <File Id="fil10FC165B2AE48C14A06FB84F4E3EC024" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\txt.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp6C53C5E25B9C19EF5A1A79E7E052F2C0" Guid="*">
                <File Id="fil79460E80022BAFC89A408BDC91095471" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\application.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp6F2075E2C8E9B961A45D403325086FA9" Guid="*">
                <File Id="filB3B7DB2E0782D9FAE4B772E817239BFB" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\php.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC6BBCD35B334807B24320C105E932C2B">
            <Component Id="cmp72CCEE48D02C2E7797801CE92905D962" Guid="*">
                <File Id="fil40F36F653EF1E8698363183776C72172" Source="$(var.List Folders.ProjectDir)\Exports\icons\icon16.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmp75AB28DD543E1C9E1C98E8B588A99A43" Guid="*">
                <File Id="filAD6FE628BABECE44B951AFF716A56D2C" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\dir.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp76E04E5AC7E9D616AAA5984B1E30BC8B" Guid="*">
                <File Id="fil1EBAA73B5F8BF34CDD4733577DB74034" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\java.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp795DD2AE781C07CBDCDBBBCB65FC6ED4" Guid="*">
                <File Id="filAAE0B3AD82CDB8FCAD535112BB4F524A" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\ppt.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp799697939D35530EC0199E358FBE17F4" Guid="*">
                <File Id="fil03CA5E52AD6E52A68DE6D672CCEC7148" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\xml1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir349B1BA02F9C0CB78C7877398B7FC827">
            <Component Id="cmp7B52A76A23D6F5DC90912A26D017AA0C" Guid="*">
                <File Id="fil3486AFABA9D6205A1352EF869B508BA0" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\css\throbber.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp7C028ACD6070E54E5D642164C86584E6" Guid="*">
                <File Id="fil31E3E496BC886E2A1D7123FAB2CC1C95" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\js.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmp7C51C070D46DB6646DED622840E08BA7" Guid="*">
                <File Id="fil2050DEA73194F0768D9D3FEED37B5A41" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\dir-open.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp809F4BC49775ED41EE5F0FB33530A470" Guid="*">
                <File Id="filBBF921122B424C0619924436A588515C" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\code.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp81952CDF656B3A174E3D562B036720FA" Guid="*">
                <File Id="fil9BCCF5045A778277AC153E42E69EB0CF" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\html.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp82F30D018791C55BE02FE7150B6C65C4" Guid="*">
                <File Id="fil8AA18E3B00F3069129617C2C187A241D" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\iso.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp838857D2FE5B6CE30809D4871CA58A81" Guid="*">
                <File Id="filEBD8AE327E0346E6CAA1B3F41D1CD487" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\msi.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp8485B9E851D28D1A68006605D00DF183" Guid="*">
                <File Id="filDFE784FE75D0CDE957453C511827ED1D" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\xml.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp866E0A79CA915BF953C9C5E519C1847F" Guid="*">
                <File Id="fil9C662C05D15EA10ECBC5DE44ACCF0FEA" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\video.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp86723700B8F186FD489E306D2B69897B" Guid="*">
                <File Id="fil2391CEA788BD2C5CC3A4A27419A9F391" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\ruby.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp87C988D289236207D6249B09C029F3C8" Guid="*">
                <File Id="filDF6FF44EEC4BEB52C5C819E386D21E3C" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\js2.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp88B2F0DEB1CCA119C86AF0DE5844D2BC" Guid="*">
                <File Id="fil7222EAFCE6E8D446DB29608F799A1716" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\iso.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp8AE7F81ABF28A17C4EA0AA835CFCF1C6" Guid="*">
                <File Id="filC80410DBC885CF2EE640AE300B5B6F02" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\image.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp93F0CBE9DDB335CA747429C99AEA5225" Guid="*">
                <File Id="fil732BE04CEA94115FCEDD98C146CEEFB8" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\doc.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp94B8E7AB517CF11434838AB01573E94B" Guid="*">
                <File Id="filAE66A0CD9A7814781EE2C54E0D50E704" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\db.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp962DE3C8617F049720A6CD9E5123B73F" Guid="*">
                <File Id="fil8932BE57FA34E85B5BF1DCA688974C0B" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\zip1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmp99F9AFCCC764D7BB00C27E3D27027F60" Guid="*">
                <File Id="filF92E64331B5B473BAE70E8ABDF311E13" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\dir.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir375BB36BEC30E2011AE584961B294576">
            <Component Id="cmp9A009C806CDC169009C7C126C4248580" Guid="*">
                <File Id="filE1BEFEB837F47886C60D2567CEE598A4" Source="$(var.List Folders.ProjectDir)\Exports\templates\tree.html" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp9A17676046EE629A482D0BB4BF3DEE8E" Guid="*">
                <File Id="filDBA13A0D1ED5981133112F648F6CC5DE" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\video.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmp9AB1B838F6E83F60CB499DA25653320E" Guid="*">
                <File Id="fil8F126C86CF4D94EA92E22AC6B9808B45" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\djvu.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp9AE46543A8D382F3CFE4EA10095D76D6" Guid="*">
                <File Id="fil2AC44D04D76F5B41D4B020E5F0DA6E50" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\js.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmp9E9F5F642B3B176BEEA37905B1ABEF07" Guid="*">
                <File Id="filC7A32D100D029CC07382DE6F0335A7AC" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\djvu.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpA5192134D4D0861407E0E84F789BD6D3" Guid="*">
                <File Id="fil89156438E5D25357432324FE7A7478E1" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\dll1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpA8CFA99A1FCD958C0EC9879E6498B923" Guid="*">
                <File Id="fil2B54C4A2FD9A858C3F4556D8B2136CB6" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\dll.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpA934FC43F99159D4BAA2CCB51CDFC2E1" Guid="*">
                <File Id="fil8FBB05E1DDDADCE94C04E53FE6588CA5" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\java.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpA9369AFA8C119674D21D8F1914FCC26B" Guid="*">
                <File Id="fil617F8B23FDECB397399D5E53A5B14B23" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\rar.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmpAD2D5E53E3648F3F01EC06DFB42A70F1" Guid="*">
                <File Id="filD4E1F57B8BAE1D1545C59EE76B518A74" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\dir-open.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpADD0C8D085D721F7E7C4F9BAE6B1BCA2" Guid="*">
                <File Id="filC3A0DDE017BC6DED13629CBA71590DA3" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\exe.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpB00992210136115197F0FBA7D2E813F3" Guid="*">
                <File Id="fil5B59C526337FE1D9A0A62A2EA0336BC9" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\js1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpB2D14D0D1E1DCFE905AC5D0618554D9B" Guid="*">
                <File Id="fil0A13CA9259968D7973131E9250EDAE95" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\djvu.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpB34CBBDD4B0104F9E7D2A77F558BB700" Guid="*">
                <File Id="fil09BC6D77F11A1144F75E74D15491E245" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\xls.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpB3B6C20DED79851198096856F45A09C7" Guid="*">
                <File Id="fil203CC4FD759875CF1050FE2D44853E88" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\db.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpB5C32CC245C6F14EABC376D855C10B77" Guid="*">
                <File Id="filAC275C7B366C1EBB25F7B983A6A71ED1" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\pdf.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpB642A6F0AC8FA48E6D409260D14F7E11" Guid="*">
                <File Id="fil6474EBCF80F635EEFE9013AE8AE0F68B" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\txt.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpB7D3F7536CF482A36935C5ECB3FCCD83" Guid="*">
                <File Id="fil0C3019ABFAC645CF3C678E004A4496A9" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\flash.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir349B1BA02F9C0CB78C7877398B7FC827">
            <Component Id="cmpBA540CA663D552E40D399E64E39FDBB4" Guid="*">
                <File Id="filF0F3E3B4862B22C4C37C90742D04C7A8" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\css\style.min.css" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpBC9F5C99359ED8FE41DA54464A6E0F47" Guid="*">
                <File Id="fil2E49006A889B5707209BDB22C54E11F5" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\dir.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpBEB252EA11D3728B10B14002C7D2CE21" Guid="*">
                <File Id="filD1DB212A9417B9DDF361702C84F0BB91" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\xml.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpBF3377AE2A0931E6C4D74C7BA5AB556B" Guid="*">
                <File Id="filF5BAA6E5B792DF2D550F1030F17DB296" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\directory.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpC0BC9EFEBD20ECD3D94A5FE06811C3D1" Guid="*">
                <File Id="fil0A5AD8B5EA4CF58264F12D79CC7002BD" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\music.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpC51F03DF4188E9EF85FAAB293D09D2D9" Guid="*">
                <File Id="fil86D2D356DBAD4728E8683BB2CDAC4DC4" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\film.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpC94BDAC468BB9AF33075FA92E636F1E1" Guid="*">
                <File Id="filDEFB204BBE3123EA8C0B98C402D98AD6" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\linux.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir349B1BA02F9C0CB78C7877398B7FC827">
            <Component Id="cmpCA584AE51B39A222A7D238A846BEE33A" Guid="*">
                <File Id="fil24F7561E6828BCD0AE0D8680793F4850" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\css\40px.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpCABDBAE4BE272A27CB76480F0C21D7F2" Guid="*">
                <File Id="fil61202238C6EF5394994DD4834CB95147" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\msi.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmpD0F1165F5CC33F0F61CED9BB876EE7EF" Guid="*">
                <File Id="fil1E1936ECDEF0E8F27EBF3883D04A6A11" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\shell32_5.ico" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpD4E9A0083D8AE62AC37E2A833CEA7884" Guid="*">
                <File Id="fil80CBD3A18069E7D73F696A49DA8CCD6C" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\dll.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpD4FD7C5304524506D2BB88C4F129CA41" Guid="*">
                <File Id="filD90E3316637E567C2051BB6FD017709D" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\doc.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpD8F1AD708770D131DF2CF1034A0DCBFC" Guid="*">
                <File Id="fil3D1AFFBB56E0E96C5AC41A150338A65F" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\ruby.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpDA4F9E29F5598EB6C32557C14830BC76" Guid="*">
                <File Id="fil43BE828A8D117787F89F551168BF1310" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\js2.gif" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpE04D628AAE228CCCF5EC5C5C2C196288" Guid="*">
                <File Id="filA9F6D7752AD90C0E3A8C20E1D8CA3645" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\psd.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpE0812D96B7E0A449D2082C566EF18653" Guid="*">
                <File Id="fil3DD7E9B891DD198DF1CDB91154BCB6A1" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\music.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpE30C8DA312A683AAAE8641D03147A79F" Guid="*">
                <File Id="fil0BD6AE52E75572476BC165F232938BD1" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\xpi.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpE3A2909C35BB6AAC3F8BD49F9AF3CE62" Guid="*">
                <File Id="fil0FB9E1178B0BF8A4504A551A5A8C60F8" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\exe1.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695">
            <Component Id="cmpE7FBB45C3F6C055E0AA264A7E424488A" Guid="*">
                <File Id="filB0D4DD9272D0B58A43424962BF9DCDA2" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\1\djvu.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Component Id="cmpE9C48E7C754DEEB391B9C822533E7D82" Guid="*">
                <File Id="fil879EAEC4200F50473F1EE0BDF186D4D2" Source="$(var.List Folders.ProjectDir)\Exports\lib\icons\linux.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpF7306F3FBE255C7442168CBCE687054E" Guid="*">
                <File Id="fil18E3CD789DE69324E07446A66A5AFCDB" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\flash.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB">
            <Component Id="cmpFE40E70A3FCABEDE6CC2B49E7447F479" Guid="*">
                <File Id="filD164B92843928EBA1608BD572EC86AB0" Source="$(var.List Folders.ProjectDir)\Exports\export\tree\lib\images\xpi.png" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3AB42D5119B999BD71A38D25021BEB4A">
            <Directory Id="dir1E7DBB3298ABE0F34A4E7E7A099CC695" Name="1" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3F8C0E77CCB071611BDD732054A7D94A">
            <Directory Id="dir296E23C09CBB890D83E660EE0A78CE29" Name="js" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3F8C0E77CCB071611BDD732054A7D94A">
            <Directory Id="dir349B1BA02F9C0CB78C7877398B7FC827" Name="css" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir375BB36BEC30E2011AE584961B294576" Name="templates" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir57C9C99D6D0BBA77622A64D2EDA669C4">
            <Directory Id="dir3AB42D5119B999BD71A38D25021BEB4A" Name="icons" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir8AA9A6C9DB16EA5A554E88FA96A73827">
            <Directory Id="dir3F8C0E77CCB071611BDD732054A7D94A" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir57C9C99D6D0BBA77622A64D2EDA669C4" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3F8C0E77CCB071611BDD732054A7D94A">
            <Directory Id="dir7486FC7DD5ACCBA432ABD8C68E7A65BB" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB22ED4CFB20A43FF68B4CF4659ABBCF3">
            <Directory Id="dir8AA9A6C9DB16EA5A554E88FA96A73827" Name="tree" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirB22ED4CFB20A43FF68B4CF4659ABBCF3" Name="export" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirC6BBCD35B334807B24320C105E932C2B" Name="icons" />
        </DirectoryRef>
    </Fragment>
</Wix>