
*,
*:before,
*:after { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

body{
  background: #eee;
}

input[type=submit]{
  width: 20%;
  height:40px;
  padding:0;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.7em;
  display: inline-block;
}

label,
.export-options .title{
  font-weight: 700;
}

textarea{
  resize: none;
  padding:5px;
  width: 100%;
}

input#path{
  width:100%;
  padding:5px;
}


#container{
  margin: 1em;
}

.form-container{
  border: 1px solid #aaa;
  margin:1em 0;
  width: 660px;
  border-radius: 10px;
  background: #FFF9EC;
}

.title{
  margin-bottom: 1.5em;
}
.title h2{
  margin:0.5em 0 0;
}
.title .desc{
  font-style: italic;
  font-size: 1em;
  color:#555;
}

.options-fields .filter-fields,
.options-fields .export-options{
  width:20%;
}
.options-fields .export-options{
  display: inline-block;
  height: 141px;
  vertical-align: top;
  margin-top: 5px;
}

.options-fields .filter-ext-wrap,
.options-fields .exclude-ext-wrap{
  width:20%;
}

.form-field{
  margin:1em;
}

.filter-fields {
  display: inline-block;
  margin-right: 2em;
}

.clear-filter{
  margin-top: 0.5em;
  width: 100%;
}

.export-options label{
  width: 70%;
  font-weight: 100;
}

.export-options .title{
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

/* ------------------------------- export tree name ------------------------------- */

.tree-name-wrap {
    margin-left: 1em;
}
#tree-name-label {
    display: block;
}
#tree-name {
    width: 40%;
    padding: 5px;
}
