<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>
  
  <Product Id="*" Name="$(var.ProductName) $(var.ProductVersion)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="mortalis" UpgradeCode="4d8ab20f-8bfb-433c-aab1-c97bf51ce2d6">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id='1' Cabinet='data.cab' EmbedCab='yes' />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="[ProductName]" Level="1" ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentGroupRef Id="$(var.ProductNameVar).Binaries" />
      <ComponentGroupRef Id="$(var.ProductNameVar).Content" />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName) $(var.ProductVersion)" />

        <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="ProgramMenuDir" Name="$(var.ProductName) $(var.ProductVersion)">
            <Component Id="ProgramMenuDir" Guid="ad38f83a-7E98-44CE-B049-C477CC0A2B00">
              <Shortcut Id="UninstallProductStartMenu" Name="Uninstall" Description="Uninstalls Application" Target="[SystemFolder]msiexec.exe" Arguments="/i [ProductCode]"/>
              <RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="78aff2b9-c9af-4953-9b9c-9a2c86ff3e39">
        <File Id="$(var.ProductNameVar)EXE" Source="$(var.ProjectTargetDir)\$(var.ProductName).exe" KeyPath='yes'>
          <Shortcut Id="startmenu$(var.ProductNameVar)" Directory="ProgramMenuDir" Name="$(var.ProductName) $(var.ProductVersion)" WorkingDirectory='INSTALLDIR' Icon="$(var.ProductNameVar).exe" IconIndex="0" Advertise="yes" />
          <Shortcut Id="desktop$(var.ProductNameVar)" Directory="DesktopFolder" Name="$(var.ProductName) $(var.ProductVersion)" WorkingDirectory='INSTALLDIR' Icon="$(var.ProductNameVar).exe" IconIndex="0" Advertise="yes" />
        </File>
        <File Id="MySqlDLL" Source="$(var.ProjectTargetDir)\MySql.Data.dll" />
        <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstalls Application" Target="[SystemFolder]msiexec.exe" Arguments="/i [ProductCode]"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="$(var.ProductNameVar).Binaries">
      <ComponentRef Id="MainExecutable" />
    </ComponentGroup>
    
    <CustomAction Id='LaunchFile' FileKey='$(var.ProductNameVar)EXE' ExeCommand='' Return="asyncNoWait" />
    
<!-- *************************************************** Interface elements ********************************************************* -->

    <UI>
      <?include UI.wxi ?>
    </UI>

    <?include Settings.wxi ?>
  </Product>

  <?include Structure.wxi ?>
</Wix>